<form class="form" action="/todo/{{id}}" method="put">
  <h2>Edit this list item</h2>
  <div class="form-group">
    <label for="title">Title</label>
    <input value="{{title}}" type="text" class="form-control" id="title" placeholder="Enter the todo" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea value="{{description}}" type="text" class="form-control" id="description" name="description">
    </textarea>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select value="{{priority}}" class="form-control" id="priority" name="priority">
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default btn-success">Update</button>
  <a type="button" href="/todo" class="btn btn-default">Cancel</a>

</form>
