<form class="form" action="/todo" method="post">
  <h2>Enter a new To Do on your list</h2>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Enter the todo" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" placeholder="Enter your description" name="description">
    </textarea>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <select class="form-control" id="priority" name="priority">
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default btn-success">Create</button>

</form>
